<div class="wrapper wrapper-full-page"
  style="background-image: url('./assets/usuarios.jpg'); background-size: cover; background-position: top center; background-repeat:no-repeat;">

  <div class="container">
    <app-header></app-header>
    <div class="jumbotron">
      <div class="row">
        <h1 class="col-sm-8">Listado de usuarios</h1>
      </div>

      <mat-form-field>
        <input matInput [(ngModel)]="iduser" type="number" (input)='filtrarDatos($event)'
          placeholder="Buscar por id de usuario">
      </mat-form-field>
      <div class="pane-scroll">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
              <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
              <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
              <td mat-cell *matCellDef="let row" [style.color]="'red'"> {{row.username}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
              <td mat-cell *matCellDef="let row">
                <!-- {{ row.color }} -->
                <button (click)="abrirModalDireccion(row)" mat-icon-button matTooltip="VER DIRECCIÓN">
                  <mat-icon>pageview</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

        <ul>
          <li *ngFor="let usu of usuarios | filter : iduser">
            {{usu.id}}
          </li>
        </ul>

      </div>


    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Detalle de dirección de <p class="badge badge-info">
            {{userSeleccionado?userSeleccionado.name:''}}</p>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <mat-icon class="postionIcon">location_city</mat-icon>
            <span class="ml-4">Ciudad: {{userSeleccionado?userSeleccionado.address.city:''}}</span>
          </div>
          <div class="col-sm-6">
            <mat-icon class="postionIcon">streetview</mat-icon>
            <span class="ml-4">Calle: {{userSeleccionado?userSeleccionado.address.street:''}}</span>
          </div>
          <div class="col-sm-6">
            <mat-icon class="postionIcon">meeting_room</mat-icon>
            <span class="ml-4">Cuarto: {{userSeleccionado?userSeleccionado.address.suite:''}}</span>
          </div>
          <div class="col-sm-6">
            <mat-icon class="postionIcon">confirmation_number</mat-icon>
            <span class="ml-4">Código: {{userSeleccionado?userSeleccionado.address.zipcode:''}}</span>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-6">
            <a target="_blank"
              href="https://maps.google.com/?q={{userSeleccionado?userSeleccionado.address.geo.lat:''}},{{userSeleccionado?userSeleccionado.address.geo.lng:''}}"
              style="padding: 1rem; padding-bottom: 0px"><span class="badge badge-primary">Posición en google maps
              </span></a>
          </div>
          <div class="col-sm-6">
            <a target="_blank"
              href="http://www.openstreetmap.org/?mlat={{userSeleccionado?userSeleccionado.address.geo.lat:''}}&mlon={{userSeleccionado?userSeleccionado.address.geo.lng:''}}#map=18"
              style="padding: 1rem; padding-bottom: 0px"><span class="badge badge-danger">Posición en
                openstreetmap</span></a>
          </div>


        </div>
      </div>

      <div class="modal-footer">
        <div style="display: flex;justify-content: flex-end; padding: 1rem">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="modaldetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle del producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="seleccionado.urlimagen" class="rounded mx-auto d-block" style="height: 250px; width: 250px">
        <h3>{{seleccionado.nombre}}</h3>
        <h4>Precio: $<span class="badge badge-danger"> {{seleccionado.precio}} </span> </h4>
        <h4>Unidades disponibles: {{seleccionado.unidades}} </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div> -->